<footer class="footer">
	<small>
		This sample app by 
		<a href="https://github.com/nguyenthuybk20694/Sample_App" target="_blank">Nguyenthuybk20694</a> 
		is based on the 
		<a href="http://www.railstutorial.org/" target="_blank">Ruby on Rails Tutorial</a>
		by <a href="http://www.michaelhartl.com/" target="_blank">Michael Hartl</a>.
	</small>
	<nav>
		<ul>
			<li><%= link_to "About",		about_path %></li>
			<li><%= link_to "Contact", 	contact_path %></li>
			<li><a href="http://news.railstutorial.org/" target="_blank">News</a></li>
		</ul>
	</nav>
</footer>
